@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: rgb(242, 242, 242);
}

.App {
  text-align: center;

  main {
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
  }
}

.Modal {
  background-color: #000000;
  padding: 8%;
  height: 100%;
  overflow-y: scroll;
}

.modalClose {
  float: right;
  width: 3em;
}

h1 {
  color: rgb(189, 189, 189);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  letter-spacing: 15px;
  line-height: 55px;
  text-align: left;
}

.menu {
  display: flex;
  flex-direction: column;

  .proj-name-input {
    display: flex;
    flex-direction: column;
    width: 75%;

    input {
      width: 100%;
      transition: .6s;
    }

    button {
      font-size: 16px;
      padding: 1em;
      width: 25%;
      margin: 3em 0 2em 0;
    }
  }
}

.menu-items {
  display: flex;
  flex-direction: row;
}

.modalPlus {
  margin-right: 24px;
  width: 1.5em;
}