* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;

  main {
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
  }
}

.Modal {
  padding: 5%;
  height: 100%;
  width: 100%;
}

.modalplus {
  float: right;
  width: 2em;
}
