@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Nav {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 25px;
  display: flex;
  justify-content: space-between;

  div {
    margin: 3em 5em;

    h1 {
      color: rgb(189, 189, 189);
      font-size: 2em;
      font-weight: 800;
      text-align: left;
      line-height: 55px;

      span {
        
        img {
          width: .85em;
          margin: 1px 12px 0px 0px;
        }
      }
    }
  }



  section {
    margin: 3em 5em;
    display: flex;
    width: 10%;
    justify-content: space-between;

    .add-project,
    .refresh {
      width: 4vw;
    }

    .refresh {
      transition: .5s;

      &:hover {
        transform: rotate(1turn);
      }
    }
  }
}