@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Nav {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 25px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;

  div {
    margin: 3em 5em;

    h1 {
      color: rgb(189, 189, 189);
      font-size: 2em;
      text-align: left;
      line-height: 55px;

      span {
        img {
          width: 1em;
        }
      }
    }
  }



  section {
    margin: 3em 5em;
    display: flex;
    width: 15%;
    justify-content: space-between;

    img {
      width: 4em;
    }
  }
}