.Projects {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  width: 75%;

  div {
    overflow-y: scroll;
  }
}

h2 {
  color: rgb(189, 189, 189);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 15px;
  line-height: 55px;
  margin: 0 25px 0 0;
  text-align: left;
}

h4 {
  color: rgb(189, 189, 189);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  letter-spacing: 7.5px;
  line-height: 45px;
  margin: 0 20px 0 25px;
  text-align: left;
}

p {
  color: white;
}

.projList {
  align-items: center;
  display: flex;
}

.palList {
  align-items: center;
  display: flex;
}

.modal-delete {
  border-radius: 0px;
  height: 20px;
}

.all-swatches {
  display: flex;
}

.hover {
  display: flex;
  border: 2px solid white;
}
